.preview-ghost[data-type="component"] {
  border: 2px dashed #eee;
  width: 100%;
  height: 80px;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
  box-sizing: border-box;

  .component-info {
    display: none!important;
  }
  .component-ghost {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 14px;
    color: #ccc;
  }
}
